.trailsText {
	position: relative;
	width: 100%;
	height: 80px;
	line-height: 80px;
	color: black;
	font-size: 6em;
	font-weight: 800;
	letter-spacing: -0.05em;
	will-change: transform, opacity;
	overflow: hidden;
}

.trailsText > div {
	padding-right: 0.05em;
	overflow: hidden;
}
.wolf-animate::before {
	content: "";
	position: absolute;
	bottom: -294px;
	right: 0;
	width: 100vw;
	height: 303px;
	background: white;
	z-index: 100;
}
.wolf-animate::after {
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
	height: 202px;
	background: white;
	z-index: 100;
}
.ave-animate::after {
	content: "";
	position: absolute;
	bottom: 0px;
	right: 2199px;
	width: 100%;
	height: 141px;
	background: #F3F6F3;
	z-index: 100;
}
.title-shadow{
	text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}
.item-arrow{
	transition: all .3s;
	overflow: hidden;
}
.item-arrow:hover{
	animation: moveArrow 0.3s forwards;
}
.lion-animate::before {
	content: "";
	position: absolute;
	bottom: -303px;
	right: 1898px;
	width: 100%;
	height: 425.5px;
	background: white;
	z-index: 100;
}
.lion-animate::after {
	content: "";
	position: absolute;
	bottom: -320px;
	left: 0;
	width: 100%;
	height: 325px;
	background: white;
	z-index: 100;
}
.zebra-animate::before {
	content: "";
	position: absolute;
	bottom: -268px;
	right: 1900px;
	width: 100%;
	height: 413px;
	background: white;
	z-index: 100;
}

.zebra-animate::after {
	content: "";
	position: absolute;
	bottom: -288px;
	left: 0;
	width: 100%;
	height: 311px;
	background: white;
	z-index: 100;
}
.giraffe-animate::before {
	content: "";
	position: absolute;
	bottom: -350px;
	right: 1599px;
	width: 100%;
	height: 453px;
	background: white;
	z-index: 100;
}

.giraffe-animate::after {
	content: "";
	position: absolute;
	bottom: -350px;
	left: 0;
	width: 100%;
	height: 351px;
	background: white;
	z-index: 100;
}
.cocodrile-animate::before {
	content: "";
	position: absolute;
	bottom: -318px;
	right: 1599px;
	width: 100%;
	height: 421px;
	background: white;
	z-index: 100;
}

.cocodrile-animate::after {
	content: "";
	position: absolute;
	bottom: -316px;
	left: 0;
	width: 100%;
	height: 318px;
	background: white;
	z-index: 100;
}
.flamenco-animate::before {
	content: "";
	position: absolute;
	bottom: -317px;
	right: 1599px;
	width: 100%;
	height: 433px;
	background: white;
	z-index: 100;
}

.flamenco-animate::after {
	content: "";
	position: absolute;
	bottom: -317px;
	left: 0;
	width: 100%;
	height: 318px;
	background: white;
	z-index: 100;
}
.buttons-experiences .button{
	padding: 10px 20px 8px;
}

@keyframes moveArrow {
	0%, 50% {
		padding-right: 40px;
		padding-top: 40px;
	}
	100% {
		padding: 0px;
	}
}
@media (max-width: 1500px) {
	.wolf-animate {
		right: -250px;
	}

	.wolf-animate::before {
		right: 250px;
	}
	.zebra-animate, .flamenco-animate {
		right: -100px;
	}
}
@media (max-width: 1300px) {
	.banner-ppal{
		height: 1100px;
		padding-top: 300px;
	}
	.title-shadow{
		font-size: 90px;
		line-height: 80px;
	}
	.trails-text > div{
		height: 100px !important;
	}
	.zebra-animate, .flamenco-animate {
		right: -150px;
	}
}
@media (max-width: 1023px) {
	.banner-ppal {
		height: 700px;
		padding: 200px 40px 0px;
	}
	.wolf-animate {
		width: 400px;
		right: 0px;
		top: -370px !important;
	}
	.wolf-animate::before {
		display: none;
	}
	.trails-text > div{
		height: 70px !important;
	}
	.title-shadow {
		font-size: 60px;
		line-height: 80px;
		margin-bottom: 0px;
	}
	.lion-animate, .zebra-animate {
		top: -600px !important;
	}
	.flamenco-animate {
		top: -600px !important;
	}
	.giraffe-animate, .cocodrile-animate{
		top: -550px !important;
	}
}
@media (max-width: 768px) {
	.banner-ppal {
		height: 700px;
		padding-top: 100px;
	}
	.lion-animate {
		top: -470px !important;
	}
	.zebra-animate {
		top: -470px !important;
	}
	.giraffe-animate {
		top: -300px !important;
	}
	.cocodrile-animate {
		top: -400px !important;
	}
	.flamenco-animate {
		right: 0;
		top: -450px !important;
	}
}
@media (max-width: 640px) {
	.banner-ppal {
		padding: 100px 20px 0px;
	}
	.title-shadow {
		font-size: 40px;
		margin-bottom: 0px;
	}
	.trails-text>div {
		height: 50px !important;
	}
	.areas-buttons .button{
		padding: 10px 18px;
		font-size: 12px;
	}
}
@media (max-width: 500px) {
	.title-shadow {
		font-size: 36px;
	}
}